* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

.chat{
  margin: 40px auto;
  width: 60%;
  max-width: 100vh;
  height: calc(100vh - 320px);
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.chat_dialog{
  margin-bottom: 20px;
  border-radius: 20px;
  padding:10px 5px;
}

.speaker{
  font-size: 12px;
}

.timestamp{
  margin-left: 6px;
}

.weacher{
  background-color: rgb(85, 154, 201);
}

.you{
  background-color: rgb(82, 145, 101);
}

h2{
  display: flex;
  align-items: center;
}

.form{
  margin: 10px auto;
  align-items: center;
  text-align: center;
  height: 200px;
  width: 70%;
}

input{
  padding: 5px;
  width: 80%;
}

.submit{
  margin-left: 10px;
  width: calc(20% - 10px);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
